@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 900px;
  background-position: 90% -25%;
}

#cta {
  background-image: url('./images/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }

  #cta {
    background-image: url('./images/bg-simplify-section-mobile.svg');
  }
}
